@import './header.scss';
@import './panel.scss';
@import './error.scss';
@import './mapselection.scss';
@import './mapaction.sass';

html, body{
    display: flex;
    flex-direction: column;
    background-color: #50576e;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

